article {	
  padding: 10px;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 85%;
  border-style: solid;
  border-width: 5px;
  border-color: #dc9997;
  color: #973523;
  background-color: #dc9997;
}
footer {
  font-size: 80%;
  color: #000000;
  text-align: center;
  clear: both;
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: #973523;
  margin-top: 0;
  padding: 0;
}

h2 {
  text-shadow: 3px 3px 3px #888888;
  margin-top: 5px; 
  margin-bottom: 0px; 
}
h2 b {
  color: #000000;
}
h2 i {
  color: #FFFFFF;
}
header {
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #f27c78;
  background-color: #f27c78;
}
nav {
  background: #F8E8D8; 
  font-weight: bold;
  float: left;
  height: 420px;
  padding-right: 24px;
  margin-right: 10px;
  opacity: 0.8;
}

.floatright {
  float: right;
  clear: right;
  margin: 10px;
}
.navlinks {
  display: block;
  color: #973523;
  border: 2px solid #dc9997;
  padding: 2px 5px; 
  background: #FFD580;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 5px 5px 5px #888888;
  font-weight: bold;
  font-size: large;
}

h1 {
  color: #973523;
  background-color: #dc9997;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hampng {
overflow: hidden; 
overflow-clip-margin: 20px;  
width:20%; 
height:auto;
transform:scaleX(-1);
}
#img-rotate {
    -ms-transform: rotate(345deg);
    -webkit-transform: rotate(345deg);
    transform: rotate(345deg);
}
#video-rotate {
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
#logo-rotate {
  -webkit-transform: rotateY(180deg); /* Safari and Chrome */
  transform: rotateY(180deg);
  object-fit: contain;
  max-width: 100%;
  max-height: 10%;
}
